<html>
<head>
    <title>PRCC NON-PROD SERVERS</title>
</head>
<body>
    <h1>PRCC NON-PROD SERVERS</h1>
    <ul>
    {% for host in ansible_play_hosts %}
        <li><a href="complete_info_{{ host }}.html">{{ host }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
